module.exports = {
    httpUnsafeOrigin: '{{ cryptpad_unsafe_origin }}',
    httpSafeOrigin: '{{ cryptpad_safe_origin }}',
    //httpAddress: '::',
    httpPort: {{ cryptpad_http_port }},
    httpSafePort: {{ cryptpad_safe_http_port }},
    websocketPort: {{ cryptpad_websocket_port }},

/*  CryptPad will launch a child process for every core available
 *  in order to perform CPU-intensive tasks in parallel.
 *  Some host environments may have a very large number of cores available
 *  or you may want to limit how much computing power CryptPad can take.
 *  If so, set 'maxWorkers' to a positive integer.
 */
    // maxWorkers: 4,

    /* =====================
     *         Admin
     * ===================== */

    /*
     *  CryptPad contains an administration panel. Its access is restricted to specific
     *  users using the following list.
     *  To give access to the admin panel to a user account, just add their public signing
     *  key, which can be found on the settings page for registered users.
     *  Entries should be strings separated by a comma.
     *  adminKeys: [
     *      "[cryptpad-user1@my.awesome.website/YZgXQxKR0Rcb6r6CmxHPdAGLVludrAF2lEnkbx1vVOo=]",
     *      "[cryptpad-user2@my.awesome.website/jA-9c5iNuG7SyxzGCjwJXVnk5NPfAOO8fQuQ0dC83RE=]",
     *  ]
     *
     */
    adminKeys: [
      {% for admin in cryptpad_admins %}
        "{{ admin }}"
      {% endfor %}
    ],
    //inactiveTime: 90, // days

    //archiveRetentionTime: 15,

    //accountRetentionTime: 365,

    //disableIntegratedEviction: true,

    //maxUploadSize: 20 * 1024 * 1024,

    //premiumUploadSize: 100 * 1024 * 1024,

    filePath: '{{ cryptpad_file_path }}',

    archivePath: '{{ cryptpad_archive_path }}',

    pinPath: './data/pins',

    taskPath: './data/tasks',

    blockPath: './block',

    blobPath: './blob',

    blobStagingPath: './data/blobstage',

    decreePath: './data/decrees',

    logPath: './data/logs',

    logToStdout: false,

    logLevel: 'info',

    logFeedback: false,

    verbose: false,

    installMethod: 'unspecified',
};
